@media (min-width:600px) and (max-width:972px){
    body{
        padding: 0;
        margin: 0;
    }
}
@media (max-width:572px){
    body{
        padding: 0;
        margin: 0;
    }
}


body{
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: 3.5rem;
}
.logo img{
    height: 2rem;
    width: 2rem;
    padding-right: 0.8rem;
    margin-top: 0.5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
.links a:hover{
    color: #000000;
    background-color: #fff;
    padding: 0.3rem;
    scale: 1.1;
    border-radius: 1rem;
}
.links a:active{
    color: #000000;
    background-color: #fff;
    padding: 0.3rem;
    scale: 0.9;
    border-radius: 1rem;
}
header{
    /* position: fixed; */
}
header{
    position: relative;
    padding: 0 2rem;
    background-color:rgb(34, 33, 32);
    backdrop-filter: blur(15px);
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
        display: flex;
        align-items: center;
}
.navbar .links{
    display: flex;
    gap: 1.5rem;
    margin-left: auto;
}
.toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: #0071f8;
    color: #ececec;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    position: relative;
    left: 50%;
}
.action_btn:hover{
    scale: 1.15;
    color: #ececec;
    background-color: chocolate;
}
.action_btn:active{
    scale: 0.95;
}


/* dropdwonmenu */
.dropdownmenu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgb(38, 35, 35,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdownmenu.open{
    display: block;
    
}
.dropdownmenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dropdownmenu .action_btn{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Navbarresponsive */

@media (min-width:600px) and (max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .logo{
        margin-left: 0.2rem;
    }
    .action_btn{
        left: 0;
        width: 100%;
    }
    .dropdownmenu{
        width:15rem;
        position: absolute;
        right: 20rem;
        top: 60px;
    }
}

@media(max-width:576px){

    .dropdownmenu{
        left: 2rem;
        width:unset;
    }
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .logo{
        margin-left: 0.2rem;
    }
    .action_btn{
        left: 0;
        width: 100%;
    }
}

/* setion1 */


.fristsection{
    background:url("1519399.jpg");
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    padding: 10rem 0;
    color:rgb(255, 255, 255);
}
.fristsection .url{
    opacity: 60%;
}
.container{
    display: flex;
    
}
.main_banner{
    display: flex;
    justify-content: start;
    align-items: center;
}
.main_banner_content{
    width: 50%;
    padding-left: 10rem;
}
.content_rapper{
    max-width: 40rem;
    margin-bottom: 4rem;
}
.contant_rapper h1,h2,p{
    font-family:sans-serif;
}
.contant_rapper h2{
    font-weight: normal;
    margin-bottom: 1.5rem;
    font-size:26px;
}
.contant_rapper h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contant_rapper p{
    line-height: 1;
    font-size: 14px;
}
.main_banner_searchbutton{
    max-width: 28rem;
    height: 50px;
    margin-top: 3rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}
.main_banner_searchbutton input{
    border: none;
    outline: none;
    width: 65%;
    padding: 0 0 0 2rem;
    font-size: 15px;
    background-color: antiquewhite;
}
.main_banner_searchbutton button{
    border: none;
    outline: none;
    background-color: chocolate;
    width: 35%;
    height: 100%;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.6s;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: #0071f8;
    color: #fff;
}
.main_banner_img{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
 .right_img{
    width: 60%;
    position: relative;
}
 .price{
    background-color: #0071f8;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

 .offer {
    background-color: #ee626b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 1rem;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    font-family: sans-serif;
    left: -20px;
    bottom: -20px;
}

.right_img img {
    width: 100%;
    border-radius: 1.5rem;
}
@media(max-width:572px){ 
    .fristsection{
        margin-right: 0;
        padding: 5rem 0;
        /* display: none; */
    }
    .fristsection .container{
        flex-direction: column; 
    }
    .main_banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_banner_content{
        width: 100%;
        padding-left: 1rem;
        gap: 1rem;
        text-align: left;
    }
    .main_banner_img{
        display: none;
    }
    .main_banner_searchbutton{
        max-width: 80%;
    }
}
@media (min-width:600px) and (max-width:992px){
    .fristsection{
        margin-right: 0;
    }
    .main_banner_content{
        width: 50%;
        padding-left: 2rem;
    }
    .main_banner_img{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
     .right_img{
        width: 100%;
        position: relative;
        right:5rem;
    }
     .price{
        background-color: #0071f8;
        color: #fff;
        padding: 0.6rem 1rem;
        border-radius: 2rem;
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
     .offer {
        background-color: #ee626b;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        padding: 1rem;
        font-size: 30px;
        border-radius: 50%;
        position: absolute;
        font-family: sans-serif;
        left: -30px;
        bottom: 10px;
    }
    
    .right_img img {
        width: 100%;
        border-radius: 1.5rem;
    }
}


/* sectionend */




.boxcollection{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    /* background-color: #0071f8; */
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 5rem;
    /* border-spacing: 1rem; */
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
   
}
.boxcollectionboxes{
 
    width: 15rem;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 2px 2px;
    /* margin-left: 5rem;
    margin-right: 5rem; */
}
.material-symbols-outline span{
    color: white;
    background-color: #fff;
}
.icons{
  position: relative;
  translate: 40% 50%;
  /* justify-content: center; */
  
}

.innerbox{
    align-items: center;
    justify-content: center;
}
.icons i{
    background-color: #005eff;
    padding: 1rem;
    border-radius: 7rem;
    font-size: 2rem;
   justify-content: center;
}
.innerbox h3{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    /* translate: 15% 25%; */
}
.boxcollectionboxes:hover{
 
    width: 16rem;
    height: 90%;
    background-color: rgb(251, 221, 199);
    border-radius: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 2px 2px;
    transition: ease-out 0.3s;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    .icons{
        color: #005eff;
        font-size: 4rem;
        align-items: center;
    }
    .innerbox h3{
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
        font-family:  sans-serif;
        /* position: relative; */
        /* translate: 15% 25%; */
    }
    .icons{
        position: relative;
        translate: 40% 40%;
        justify-content: center;
        
      }
}
@media  (max-width:572px){
    .boxcollection{
        margin-right: 0;
        
        /* display: none; */
    }
    .boxcollection{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15rem;
        /* display: none; */
    }
    .boxcollectionboxes{
 
        width: 10rem;
        height: 80%;
        background-color: rgb(255, 255, 255);
        border-radius: 3rem;
        margin-left:0.4rem;
        gap: 2rem;
        box-shadow: 2px 2px 2px 2px;
    }
    .icons i{
        background-color: #005eff;
        padding: 1rem;
        border-radius: 7rem;
        font-size: 0.8rem;
        justify-content: center;
    }
}
@media (min-width:600px) and (max-width:972px){
    .boxcollection{
        margin-right: 0;
    }
    .boxcollectionboxes{
        width: 12rem;
        height: 70%;
    }
    .icons{
        position: relative;
        translate: 38% 50%;
        /* justify-content: center; */
        
      }
      .icons i{
        background-color: #005eff;
        padding: 1rem;
        border-radius: 7rem;
        font-size: 1rem;
       justify-content: center;
    }
}




/* section2 */



.section2{
    margin-left: 4.3rem;
    padding-right:7em;
}
.Trending{
    margin-left: 3rem;
}
.Trendingh6{
    margin-left: 3rem;
    color: #ec323e;
}

.trendinggamesection{
    height: 18rem;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    /* animation: scroll 20s linear infinite; */
    /* padding-left: 4.7rem; */
    /* padding-right: 5rem; */
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.gameoption{
    /* display: flex; */
    height: 17rem;
    min-width:22%;
    background-color: rgb(225, 225, 225);
    border-radius: 2rem;
    margin-left: 3rem;
    justify-content: space-between;
    
}
.trendinggamesection::-webkit-scrollbar{
    width: 0;
}
.gameoptionimage{
        position: relative;
        height: 75%;
        width: 100%;
}
.gameoptionimage img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.gameoption h2,h6{
    margin: 0;
    padding: 0;
}
.gameoptiontext{
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
}
.gameoptiontext h6{
   opacity: 50%;
}
.gameoption i{
    position: absolute;
    left: 80%;
    bottom: 3%;
    font-size: large;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color:  #ec323e;
    color: #000000;
}
.gameoptionimage h2{
    /* margin-bottom: 2rem; */
    padding: 0.5rem;
    position: absolute;
    left:75%;
    top: 15%;
    background-color: #005eff;
    color: #fff;
    border-radius: 1rem;

}
.gameoption:hover{
    i{
        position: absolute;
        left: 80%;
        bottom:3%;
        font-size: large;
        padding: 0.7rem;
        border-radius: 2rem;
        background-color:  blue;
        color: #ffffff;
    }
    .gameoptiontext h2{
        color: #005eff;
    }

}
@media (min-width:600px) and (max-width:972px){
    .section2{
        margin-left: 0;
        padding-right:2rem;
    }
    .Trending{
        margin-left: 2rem;
    }
    .Trendingh6{
        margin-left: 2rem;
        color: #ec323e;
    }
    .trendinggamesection{
        height: 16rem;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
    }
    .gameoption{
        /* display: flex; */
        height: 14rem;
        min-width:29%;
        border-radius: 2rem;
        margin-left: 2rem;
        
    }
    .gameoptiontext h2{
        font-size: 0.9rem;
    }
    .gameoption i{
        position: absolute;
        left: 80%;
        bottom:-10%;
        /* bottom: 3%; */
        font-size: 1rem;
        padding: 0.7rem;
        border-radius: 2rem;
        background-color:  #ec323e;
        color: #000000;
    }
}
@media (max-width:572px){
    .section2{
        margin-left:0;
        padding-right:1em;
    }
    .Trending{
        margin-left: 1rem;
    }
    .Trendingh6{
        margin-left: 1rem;
        color: #ec323e;
    } 
    .trendinggamesection{
        height: 14rem;
        width: 100%;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        padding-right: 0;
        margin-right:0;
        /* padding-left: 0;
        margin-left: 0; */
        /* animation: scroll 20s linear infinite; */
        /* padding-left: 4.7rem; */
        /* padding-right: 5rem; */
    }
    .gameoption{
        /* display: flex; */
        height: 13rem;
        min-width:80%;
        background-color: rgb(225, 225, 225);
        border-radius: 2rem;
        margin-left:1rem;
        justify-content: space-between;
    }
    .gameoptiontext h2{
        font-size: 0.9rem;
    }
    .gameoption i{
        position: absolute;
        left: 80%;
        bottom:-10%;
        /* bottom: 3%; */
        font-size: 1rem;
        padding: 0.7rem;
        border-radius: 2rem;
        background-color:  #ec323e;
        color: #000000;
    }
}



/* section3 */
.container3{
    margin-bottom: 5rem;
}


.section3{
    background-color: rgb(225, 228, 230);
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-radius: 2rem;
    padding-left:3rem;
    padding-right:7rem;
}
.section3 .section3text{
    margin-left: 4rem;
}
.section3texth6{
    margin-left: 4rem;
    color: #ec323e;
}
.topgames{
    height: 18rem;
    width: 100%;
    display: flex;
}
.topgameoption{
    height: 18rem;
    min-width:17%;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    margin-left: 3.6rem;
    justify-content: space-between;
}
.topgameoptionimage{
    height: 50%;
    width: 100%;
}
.topgameoptionimage img{
   height: 100%;
   width: 100%;
   border-radius: 2rem;
}
.topgameoptiontext{
    padding-top: 2rem;

}
.topgameoptiontext h6{
    text-align: center;
    line-height: 1rem;
    opacity: 50%;
}
.topgameoptiontext h2{
    text-align: center;
    line-height: 0;
    gap: 0.5rem;
}
.topgameoptiontext button{
    margin-top: 2rem;
    padding: 0.5rem;
    margin-left: 38%;
    border-radius: 2rem;
    border-style: none;
    background-color: #ec323e;
    color: #ffffff;
}
.viewall{
    position: absolute;
    left: 85%;
    padding: 1rem;
    color: #ffffff;
    background-color: #ec323e;
    border-radius: 2rem;
    border-style:none;

}
.viewless{
    position: absolute;
    left: 85%;
    bottom: unset;
    padding: 1rem;
    color: #ffffff;
    background-color: #ec323e;
    border-radius: 2rem;
    border-style:none;
}
.viewall:hover{
    background-color: #005eff;
}
.viewless:hover{
    background-color: #005eff;
}
.topgameoptiontext button:hover{
    background-color: #005eff;
}
@media (min-width:600px) and (max-width:972px){
    .section3{
        margin-right: 1rem;
        background-color: rgb(225, 228, 230);
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 2rem;
        padding-left:0;
        padding-right:1rem;
    }
    .container3{
        margin-bottom: 2rem;
        overflow: hidden;
    }
    .topgameoption{
        height: 15rem;
        min-width:18%;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        margin-left: 3.6rem;
        justify-content: space-between;
    }
    .topgameoptiontext h2{
        font-size: 1.2rem;
    }
    .topgameoptiontext  button{
        font-size: 0.8rem;
        padding: 0.6rem;
        margin-left: 3rem;
        color: #ffffff;
    }
    .viewless{
        position: absolute;
        left: 85%;
        bottom: unset;
        font-size: 0.8rem;
        padding: 0.6rem;
        margin-bottom: -1rem;
        color: #ffffff;
        background-color: #ec323e;
        border-radius: 2rem;
        border-style:none;
    }
}
 @media (max-width:572px){
    .container3{
        margin-bottom:0;
        margin-left: 0;
    }
    
    
    .section3{
        background-color: rgb(225, 228, 230);
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 2rem;
        padding-left:1rem;
        padding-right:1rem;
        margin-right: 0;
    }
    .topgames{
        height: 14rem;
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .topgameoption{
        height: 13rem;
        min-width:35%;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        margin-left: 3rem;
        justify-content: space-between;
    }
    .topgameoptiontext button{
        margin-top: 1rem;
        padding: 0.5rem;
        margin-left: 30%;
        border-radius: 2rem;
        border-style: none;
        background-color: #ec323e;
        color: #ffffff;
    }
    .topgameoptiontext{
        padding-top: 1rem;
    
    }
    .topgameoptiontext h2{
        font-size: 1rem;
    }
    .viewall{
        position: absolute;
        left: 75%;
        padding: 0.5rem;
        color: #ffffff;
        background-color: #ec323e;
        border-radius: 2rem;
        border-style:none;
    
    }
    .viewless{
        position: absolute;
        left: 75%;
        bottom: unset;
        padding: 0.5rem;
        margin-bottom: 1rem;
        color: #ffffff;
        background-color: #ec323e;
        border-radius: 2rem;
        border-style:none;
    }
    }


/* section4 */

.section4{
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #ffffff;
}
.categories{
    font-size: 1rem;
    color: #ec323e;
    text-align: center;
}
.topcategories{
    font-size: 2rem;
    text-align: center;
}
.itemtext{
    background-color: #0071f8;
    height: 5rem;
    width: 100%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    position: relative;
    font-family: sans-serif;
    align-items: center;
    /* top: 5%; */
}
.itemimg{
    height: 20rem;
    width: 100%;
    background-color: aqua;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    overflow: hidden;
   }
.wraper{
    /* border:1px solid black; */
    width:90%;
    margin-inline: auto;
    position: relative;
    height: 25rem;
    overflow: hidden;
}
.itemimg img{
    width: 100%;
    position: relative;
    object-fit: cover;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}
.itemtext h4{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: 42%;
}
@keyframes scrolleft{
    to{
        left:-25rem;
    }
}
.item{
    height: 25rem;
    width: 25rem;
    border-radius: 5rem;
    background-color: #ec323e;
    position: absolute;
    left: max(calc(25rem * 10), 100%);
    animation-name: scrolleft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: calc(40s/10 * (10 - 1) * -1 );
}
.item2{
    animation-delay: calc(40s/10 * (10 - 2) * -1 );
}
.item3{
    animation-delay: calc(40s/10 * (10 - 3) * -1 );
}
.item4{
    animation-delay: calc(40s/10 * (10 - 4) * -1 );
}
.item5{
    animation-delay: calc(40s/10 * (10 - 5) * -1 );
}
.item6{
    animation-delay: calc(40s/10 * (10 - 6) * -1 );
}
.item7{
    animation-delay: calc(40s/10 * (10 - 7) * -1 );
}
.item8{
    animation-delay: calc(40s/10 * (10 - 8) * -1 );
}
.item9{
    animation-delay: calc(40s/10 * (10 - 9) * -1 );
}
.item10{
    animation-delay: calc(40s/10 * (10 - 10) * -1 );
}

/* section5 */

.section5{
    position: relative;
    /* background-color: #005eff; */
    height:50rem ;
    width: 100%;
}

.backgroundimage{
    content: '';
    object-fit: cover;
    background: url("85044256-cheapest-black-myth-wukong-key-3744.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* max-width:18rem;
    max-height: 17rem; */
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    border-radius: 2rem;
}
.containerlast{
    display: flex;
    align-items: center;
}

.ourshop{
    min-width: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #ececec;
    padding: 5rem;
    border-radius: 2rem;
    position: relative;
    top:9rem;
    left: -25rem;
}
.ourshop button{
    padding: 1rem;
    background-color: chocolate;
    border-radius: 2rem;
    margin-top: 1rem;
    border-style: none;
}
.newsletter{
    min-width: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #ececec;
    padding: 5rem;
    border-radius: 2rem;
    position: relative;
    top:13rem;
    right: -1rem;
}
.subscribenow{
    max-width: 28rem;
    width: 100%;
    height: 35px;
    margin-top: 3rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}
.subscribenow input{
    border: none;
    outline: none;
    width: 55%;
    padding: 0 0 0 2rem;
    font-size: 15px;
    background-color: rgb(248, 236, 221);
}
.subscribenow button{
    border: none;
    outline: none;
    background-color: chocolate;
    width: 45%;
    height: 100%;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.6s;
    cursor: pointer;
}
.ourshop1{
    color: #ec323e;
    font-size: 1rem;
    font-family: sans-serif;
}
.gopro{
    font-size: xx-large;
    font-family: sans-serif;
}
.textarea{
    font-size:small;
    padding: 0;
    margin: 0;
}
.newsletter1{
    color: #ec323e;
    font-size: 1rem;
    font-family: sans-serif;
}
.subscriber{
    font-size: 2.5rem;

    font-family: sans-serif;
}
@media (min-width:600px) and (max-width:972px){
    .section5{
        margin-right: 0;
    }
    .backgroundimage{
        content: '';
        object-fit: cover;
        background: url("85044256-cheapest-black-myth-wukong-key-3744.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* max-width:18rem;
        max-height: 17rem; */
        width: 25rem;
        height: 25rem;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        border-radius: 2rem;
    }
    .ourshop{
        min-width: 10rem;
        width: 100%;
        height: 10rem;
        background-color: #ececec;
        padding: 5rem;
        border-radius: 2rem;
        position: relative;
        top:9rem;
        left: -15rem;
    }
    .ourshop button{
        padding: 0.6rem;
        background-color: chocolate;
        border-radius: 2rem;
        margin-top: 1rem;
        font-size: 0.5rem;
        border-style: none;
        color: #ffffff;
    }
    .ourshop1{
        color: #ec323e;
        font-size: 0.6rem;
        font-family: sans-serif;
    }
    .gopro{
        font-size:medium;
        font-family: sans-serif;
    }
    .textarea{
        font-size:xx-small;
        padding: 0;
        margin: 0;
    }
    .newsletter{
        min-width: 12rem;
        width: 100%;
        height: 12rem;
        background-color: #ececec;
        padding: 4rem;
        border-radius: 2rem;
        position: relative;
        top:13rem;
        right: 2rem;
    }
    .newsletter1{
        color: #ec323e;
        font-size: 0.6rem;
        font-family: sans-serif;
    }
    .subscriber{
        font-size:large;
    
        font-family: sans-serif;
    }
    .subscribenow input{
        border: none;
        outline: none;
        width: 65%;
        padding: 0 0 0 2rem;
        font-size: 10px;
        background-color: rgb(248, 236, 221);
    }
    .subscribenow button{
        border: none;
        outline: none;
        background-color: chocolate;
        width: 35%;
        height: 100%;
        border-radius: 1rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 10px;
        transition: all 0.6s;
        cursor: pointer;
    }

}
@media (max-width:572px){
    .section5{
        margin: 0;
    }
    .backgroundimage{
        content: '';
        object-fit: cover;
        background: url("85044256-cheapest-black-myth-wukong-key-3744.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        /* max-width:18rem;
        max-height: 17rem; */
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        border-radius: 2rem;
    }
    .ourshop{
        min-width: 8rem;
        width: 100%;
        height: 8rem;
        background-color: #ececec;
        padding: 5rem;
        padding-top: 2rem;
        padding-left: 2rem;
        border-radius: 2rem;
        position: relative;
        top:9rem;
        left: -5rem;
    }
    .ourshop button{
        padding: 0.6rem;
        background-color: chocolate;
        border-radius: 2rem;
        margin-top: 1rem;
        font-size: 0.5rem;
        border-style: none;
        color: #ffffff;
    }
    .ourshop1{
        color: #ec323e;
        font-size: 0.6rem;
        font-family: sans-serif;
    }
    .gopro{
        font-size:small;
        font-family: sans-serif;
    }
    .textarea{
        font-size:6px;
        padding: 0;
        margin: 0;
    }
    .newsletter{
        min-width: 10rem;
        width: 100%;
        height: 10rem;
        background-color: #ececec;
        padding: 1rem;
        border-radius: 2rem;
        position: absolute;
        top: 25rem;
        right: -2rem;
    }
    .newsletter1{
        color: #ec323e;
        font-size: 0.6rem;
        font-family: sans-serif;
    }
    .subscriber{
        font-size:large;
    
        font-family: sans-serif;
    }
    .subscribenow input{
        border: none;
        outline: none;
        width: 65%;
        padding: 0 0 0 2rem;
        font-size: 10px;
        background-color: rgb(248, 236, 221);
    }
    .subscribenow button{
        border: none;
        outline: none;
        background-color: chocolate;
        width: 35%;
        height: 100%;
        border-radius: 1rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-weight: normal;
        letter-spacing: 1px;
        font-size: 10px;
        transition: all 0.6s;
        cursor: pointer;
    }
}

/* footer */
footer{
    background-color: #000000;
    color: #ffffff;
    padding: 2rem 0;
    width: 100%;
    height: auto;
}
.logoimg2 img{
    width:4rem;
    height: 4rem;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    /* background-color: #005eff; */
    height: 50%;
    padding: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.footer1 li a{
    font-size: 1.3rem;
}
.footer1 li a:hover{
    background-color: #fff;
    color: #000000;
    padding: 0.5rem;
    border-radius: 1.5rem;
    transition: 0.5s ease-out;
}
.emailsection{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    /* width: 30rem; */
}
.buttonemail{
    width: 30rem;
    /* margin-bottom: 2rem; */
    /* background-color: #005eff; */
}
.buttonemail input{
    min-width:70%;
    height: auto;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: rgb(223, 198, 180);

}
.buttonemail button{
    min-width:25%;
    height: auto;
    padding: 0.5rem;
    border-radius:3rem ;
    background-color: chocolate;
    color: #ffffff;
    /* margin-left: 2rem; */
}
.iconslast i{
    font-size: 2rem;
    margin-right: 1rem ;
    margin-top: 1rem;
}
@media (min-width:600px) and (max-width:972px){
    footer{
        background-color: #000000;
        color: #ffffff;
        padding: 2rem 0;
        width: 100%;
        height: auto;
    }
    .logoimg2 img{
        width:4rem;
        height: 4rem;
        align-items: center;
    }
    .footer{
        display: flow-root;
        /* background-color: #005eff; */
        height: 50%;
        padding: 2rem;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    
    .footer1{
        display: flow-root;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .footer1 li a{
        font-size: 1.3rem;
    }
    .footer1 li a:hover{
        background-color: #fff;
        color: #000000;
        padding: 0.5rem;
        border-radius: 1.5rem;
        transition: 0.5s ease-out;
    }
    .emailsection{
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        /* width: 30rem; */
    }
    .buttonemail{
        margin-top: 2rem;
        width: 30rem;
        /* margin-bottom: 2rem; */
        /* background-color: #005eff; */
    }
    .buttonemail input{
        min-width:70%;
        height: auto;
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: rgb(223, 198, 180);
    
    }
    .buttonemail button{
        min-width:25%;
        height: auto;
        padding: 0.5rem;
        border-radius:3rem ;
        background-color: chocolate;
        color: #ffffff;
        /* margin-left: 2rem; */
    }
    .iconslast i{
        font-size: 2rem;
        margin-right:1 rem ;
        margin-top: 2rem;
    }
}
@media (max-width:572px){
    footer{
        background-color: #000000;
        color: #ffffff;
        padding: 1rem 0;
        width: 100%;
        height: auto;
    }
    .logoimg2 img{
        width:4rem;
        height: 4rem;
        align-items: center;
    }
    .footer{
        display: flow-root;
        /* background-color: #005eff; */
        height: 50%;
        padding: 1rem;
        padding-left: 2rem;
        /* padding-right: 7rem; */
    }
    
    .footer1{
        display: flow-root;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .footer1 li a{
        font-size: 1.3rem;
    }
    .footer1 li a:hover{
        background-color: #fff;
        color: #000000;
        padding: 0.5rem;
        border-radius: 1.5rem;
        transition: 0.5s ease-out;
    }
    .emailsection{
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        /* width: 30rem; */
    }
    .buttonemail{
        margin-top: 2rem;
        width: 10rem;
        /* margin-bottom: 2rem; */
        /* background-color: #005eff; */
    }
    .buttonemail input{
        min-width:70%;
        height: auto;
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: rgb(223, 198, 180);
    
    }
    .buttonemail button{
        min-width:25%;
        height: auto;
        padding: 0.5rem;
        border-radius:3rem ;
        background-color: chocolate;
        color: #ffffff;
        /* margin-left: 2rem; */
    }
    .iconslast i{
        font-size: 2rem;
        margin-right:1 rem ;
        margin-top: 2rem;
    }
}