body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: blue; */
}
header{
    /* position: fixed; */
    background-color:rgb(21, 17, 7);
}
li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 6%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    height: 2rem;
    width: 2rem;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
 color:rgb(0, 0, 0);
 background-color:white ;
 padding: 0.5rem;
 border-radius: 5rem;
}
.button{
    margin-left: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:chocolate;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: blue
}

/* setion1 */


.fristsection{
    background:url("1371343.jpeg");
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    padding: 10rem 0;
    color:rgb(255, 255, 255);
}
.fristsection .url{
    opacity: 60%;
}
.container{
    display: flex;
    
}
.main_banner{
    display: flex;
   
    justify-content: start;
    align-items: center;
}
.main_banner_content{
    width: 50%;
    padding-left: 10rem;
}
.content_rapper{
    max-width: 40rem;
    margin-bottom: 4rem;
}
.contant_rapper h1,h2,p{
    font-family:sans-serif;
}
.contant_rapper h2{
    font-weight: normal;
    margin-bottom: 1.5rem;
    font-size:26px;
}
.contant_rapper h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contant_rapper p{
    line-height: 1;
    font-size: 14px;
}
.main_banner_searchbutton{
    max-width: 28rem;
    height: 50px;
    margin-top: 3rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}
.main_banner_searchbutton input{
    border: none;
    outline: none;
    width: 65%;
    padding: 0 0 0 2rem;
    font-size: 15px;
    background-color: antiquewhite;
}
.main_banner_searchbutton button{
    border: none;
    outline: none;
    background-color: chocolate;
    width: 35%;
    height: 100%;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.6s;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: #0071f8;
    color: #fff;
}
.main_banner_img{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
 .right_img{
    width: 60%;
    position: relative;
}
 .price{
    background-color: #0071f8;
    color: #fff;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

 .offer {
    background-color: #ee626b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    padding: 1rem;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    font-family: sans-serif;
    left: -20px;
    bottom: -20px;
}

.right_img img {
    width: 100%;
    border-radius: 1.5rem;
}
.boxcollection{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    /* background-color: #0071f8; */
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 5rem;
    /* border-spacing: 1rem; */
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
   
}
.boxcollectionboxes{
 
    width: 15rem;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 2px 2px;
    /* margin-left: 5rem;
    margin-right: 5rem; */
}
.material-symbols-outline span{
    color: white;
    background-color: #fff;
}
.icons{
  position: relative;
  translate: 40% 50%;
  justify-content: center;
  
}

.innerbox{
    align-items: center;
    justify-content: center;
}
.icons i{
    color: #005eff;
    font-size: 3.5rem;
    align-items: center;
}
.innerbox h3{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    /* translate: 15% 25%; */
}
.boxcollectionboxes:hover{
 
    width: 16rem;
    height: 90%;
    background-color: rgb(251, 221, 199);
    border-radius: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 2px 2px 2px 2px;
    transition: ease-out 0.3s;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    .icons{
        color: #005eff;
        font-size: 4rem;
        align-items: center;
    }
    .innerbox h3{
        text-align: center;
        padding-top: 2.5rem;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        /* position: relative; */
        /* translate: 15% 25%; */
    }
    .icons{
        position: relative;
       translate: 40% 60%;
        justify-content: center;
        
      }
}




/* section2 */



.section2{
    margin-left: 4.3rem;
    padding-right:7em;
}
.Trending{
    margin-left: 3rem;
}
.Trendingh6{
    margin-left: 3rem;
    color: #ec323e;
}

.trendinggamesection{
    height: 18rem;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-left: 4.7rem; */
    /* padding-right: 5rem; */
}
.gameoption{
    /* display: flex; */
    height: 17rem;
    min-width:22%;
    background-color: rgb(225, 225, 225);
    border-radius: 2rem;
    margin-left: 3rem;
    justify-content: space-between;
    
}
.trendinggamesection::-webkit-scrollbar{
    width: 0;
}
.gameoptionimage{
        position: relative;
        height: 75%;
        width: 100%;
}
.gameoptionimage img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.gameoption h2,h6{
    margin: 0;
    padding: 0;
}
.gameoptiontext{
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
}
.gameoptiontext h6{
   opacity: 50%;
}
.gameoption i{
    position: absolute;
    left: 80%;
    bottom: 3%;
    font-size: large;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color:  #ec323e;
    color: #000000;
}
.gameoptionimage h2{
    /* margin-bottom: 2rem; */
    padding: 0.5rem;
    position: absolute;
    left:75%;
    top: 15%;
    background-color: #005eff;
    color: #fff;
    border-radius: 1rem;

}
.gameoption:hover{
    i{
        position: absolute;
        left: 80%;
        bottom:3%;
        font-size: large;
        padding: 0.7rem;
        border-radius: 2rem;
        background-color:  blue;
        color: #ffffff;
    }
    .gameoptiontext h2{
        color: #005eff;
    }

}



/* section3 */
.container3{
    margin-bottom: 5rem;
}


.section3{
    background-color: rgb(225, 228, 230);
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-radius: 2rem;
    padding-left:3rem;
    padding-right:7rem;
}
.section3 .section3text{
    margin-left: 4rem;
}
.section3texth6{
    margin-left: 4rem;
    color: #ec323e;
}
.topgames{
    height: 18rem;
    width: 100%;
    display: flex;
}
.topgameoption{
    height: 19rem;
    min-width:12%;
    background-color: rgb(205, 202, 202);
    border-radius: 2rem;
    margin-left: 3.6rem;
    justify-content: space-between;
}
.topgameoptionimage{
    height: 60%;
    width: 100%;
}
.topgameoptionimage img{
   height: 100%;
   width: 100%;
   border-radius: 2rem;
}
.topgameoptiontext{
    padding-top: 2rem;

}
.topgameoptiontext h6{
    text-align: center;
    line-height: 1rem;
    opacity: 50%;
}
.topgameoptiontext h2{
    text-align: center;
    line-height: 0;
    gap: 0.5rem;
}
.topgameoptiontext button{
    margin-top: 1rem;
    padding: 0.5rem;
    margin-left: 25%;
    border-radius: 2rem;
    border-style: none;
    background-color: #ec323e;
}
.viewall{
    position: absolute;
    left: 85%;
    padding: 1rem;
    color: #ffffff;
    background-color: #ec323e;
    border-radius: 2rem;
    border-style:none;

}
.viewless{
    position: absolute;
    left: 85%;
    bottom: unset;
    padding: 1rem;
    color: #ffffff;
    background-color: #ec323e;
    border-radius: 2rem;
    border-style:none;
}
.viewall:hover{
    background-color: #005eff;
}
.viewless:hover{
    background-color: #005eff;
}
.topgameoptiontext button:hover{
    background-color: #005eff;
}

/* section4 */

.section4{
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #ffffff;
}
.categories{
    font-size: 1rem;
    color: #ec323e;
    text-align: center;
}
.topcategories{
    font-size: 2rem;
    text-align: center;
}
.itemtext{
    background-color: #0071f8;
    height: 5rem;
    width: 100%;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    position: relative;
    /* top: 5%; */
}
.itemimg{
    height: 20rem;
    width: 100%;
    background-color: aqua;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    overflow: hidden;
}
.wraper{
    /* border:1px solid black; */
    width:90%;
    margin-inline: auto;
    position: relative;
    height: 25rem;
    overflow: hidden;
}
.itemimg img{
    width: 100%;
    position: relative;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}
.itemtext h4{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    left: 42%;
}
@keyframes scrolleft{
    to{
        left:-25rem;
    }
}
.item{
    height: 25rem;
    width: 25rem;
    border-radius: 5rem;
    background-color: #ec323e;
    position: absolute;
    left: max(calc(25rem * 10), 100%);
    animation-name: scrolleft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.item1{
    animation-delay: calc(40s/10 * (10 - 1) * -1 );
}
.item2{
    animation-delay: calc(40s/10 * (10 - 2) * -1 );
}
.item3{
    animation-delay: calc(40s/10 * (10 - 3) * -1 );
}
.item4{
    animation-delay: calc(40s/10 * (10 - 4) * -1 );
}
.item5{
    animation-delay: calc(40s/10 * (10 - 5) * -1 );
}
.item6{
    animation-delay: calc(40s/10 * (10 - 6) * -1 );
}
.item7{
    animation-delay: calc(40s/10 * (10 - 7) * -1 );
}
.item8{
    animation-delay: calc(40s/10 * (10 - 8) * -1 );
}
.item9{
    animation-delay: calc(40s/10 * (10 - 9) * -1 );
}
.item10{
    animation-delay: calc(40s/10 * (10 - 10) * -1 );
}

/* section5 */

.section5{
    position: relative;
    /* background-color: #005eff; */
    height:50rem ;
    width: 100%;
}

.backgroundimage{
    content: '';
    background: url("Kratos\ fury.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* max-width:18rem;
    max-height: 17rem; */
    width: 35rem;
    height: 35rem;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    border-radius: 2rem;
}
.containerlast{
    display: flex;
    align-items: center;
}

.ourshop{
    min-width: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #d4c9c9;
    padding: 5rem;
    border-radius: 2rem;
    position: relative;
    top:9rem;
    left: -25rem;
}
.ourshop button{
    padding: 1rem;
    background-color: #ee626b;
    border-radius: 2rem;
    margin-top: 1rem;
    border-style: none;
}
.newsletter{
    min-width: 20rem;
    width: 100%;
    height: 20rem;
    background-color: #d4c9c9;
    padding: 5rem;
    border-radius: 2rem;
    position: relative;
    top:13rem;
    right: -1rem;
}
.subscribenow{
    max-width: 28rem;
    width: 100%;
    height: 35px;
    margin-top: 3rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}
.subscribenow input{
    border: none;
    outline: none;
    width: 55%;
    padding: 0 0 0 2rem;
    font-size: 15px;
    background-color: antiquewhite;
}
.subscribenow button{
    border: none;
    outline: none;
    background-color: chocolate;
    width: 45%;
    height: 100%;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.6s;
    cursor: pointer;
}
.ourshop1{
    color: #ec323e;
    font-size: 1rem;
    font-family: sans-serif;
}
.gopro{
    font-size: xx-large;
    font-family: sans-serif;
}
.textarea{
    font-size:small;
    padding: 0;
    margin: 0;
}
.newsletter1{
    color: #ec323e;
    font-size: 1rem;
    font-family: sans-serif;
}
.subscriber{
    font-size: 2.5rem;

    font-family: sans-serif;
}

/* footer */

footer{
    height: 5rem;
    width: 100%;
    background-color: #005eff;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.footer1{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}
footer p{
    background-color: #005eff;
    margin: 0;
    text-align: center;
    color: #ffffff;
}