body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* background-color: blue; */
}
header{
   background-color: rgb(40, 40, 211);
}
li, a, button{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: rgb(255, 255, 255);
   text-decoration: none;
}
header{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 1rem 6%;
}
.logo{
   cursor: pointer;
   margin-right: auto;
   height: 2rem;
   width: 2rem;
}
.nav_links{
   list-style: none;
}
.nav_links li{
   display: inline-block;
   padding: 0px 20px;
   
}
.nav_links li a{
   transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
   background-color: #ee626b;
   padding: 0.5rem;
   border-radius: 5rem;
color:black;
}
.button{
   margin-left: 1rem;
   border-radius: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   background-color:chocolate;
   color: rgb(255, 255, 255);
   border: none;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}
.button:hover{
   background-color: rgb(146, 19, 45);
}

.first1 {background:url("assassin-s-creed-origins-aya-of-alexandria-3157pzwku19xufyk.jpg");
background-repeat: no-repeat;
background-size: cover;
border-bottom-left-radius: 6rem;
border-bottom-right-radius: 6rem;
padding: 10rem 0;
color:rgb(255,255,255);

}
.first1 .url{
opacity:80%;
}
.cointainer{
   display: flex;
   
}
.mainbg{
   display: flex;
   justify-content: start;
   align-items: center;

}
.mainbg_content{
   width: 50%;
   padding-left: 4rem;
} 
.mainbg_content.text h1,h2,p{
   font-family: sans-serif;

}
.mainbg_content.text h2{
   font-weight: normal;
   margin-bottom: 1.5rem;
   font-size: 26px;
}
.mainbg_content.text h1{
   font-size: 26px;
   font-weight: normal;
   margin-bottom: 1.5rem;
}
.content.text p{
   line-height: 1;
   font-size: 14px;
}


/* hhhhhh */


.searchnow{
   max-width: 28rem;
   height: 50px;
   margin-top: 3rem;
   background-color: antiquewhite;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 2rem;
   overflow: hidden;
}
.jakmak:hover{
   /* padding: 0 1rem; */
   background-color: #ee626b;

}
.searchnow input{
   border: none;
   outline: none;
   width: 65%;
   padding: 0 0 0 2rem;
   font-size: 15px;
   background-color: antiquewhite;
}
.searchnow button{
   border: none;
   outline: none;
   background-color: chocolate;
   width: 35%;
   height: 100%;
   border-radius: 2rem;
   color: rgb(255, 255, 255);
   font-weight: bold;
   font-weight: normal;
   letter-spacing: 1px;
   font-size: 18px;
   transition: all 0.6s;
   cursor: pointer;
}
.banner{
   width: 75%;
   display: flex;
   justify-content: space-between;
}
.rightside_img img{
   width: 60%;
   position: relative;
}
.price{
   background-color: #0071f8;
   color: #fff;
   padding: 0.6rem 1rem;
   border-radius: 2rem;
   position: absolute;
   margin-top: 15rem;
   margin-right: 12rem;
   top: 10px;
   right: 10px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 20px;
 
}

.offer {
   background-color: #ee626b;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 120px;
   height: 120px;
   padding: 1rem;
   font-size: 30px;
   border-radius: 50%;
   position: relative;
   font-family: sans-serif;
   left: -20px;
   bottom: 120px;
}

.rightside_img img {
   width: 60%;
   border-radius: 1rem;
}
.buttoneffect:hover{
   background-color: rgb(146, 19, 45);
   padding: 1rem;
   border-radius: 1rem;
}
/* nextsection */
 
/* height: 50%; */
/* width: 50%; */
/* background-color:blueviolet; */

 
 
.features{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   margin-top: -70px;
}

.feature__item{
   padding: 2rem 4rem;
   background-color: #fff;
   width: calc(25% - 12px);
   text-align: center;
   box-shadow: 0 0 14px lightgray;
   border-radius: 1.8rem;
   cursor: pointer;
}


.feature__image{
   width: 90px;
   height: 90px;
   margin: 0 auto;
   background-color: royalblue;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 1.5rem;
   transition: all 0.6s;
}

.feature__item:hover .feature__image{
   background-color: #ee626b;
}

/* Nextpart */

.trending_GAME{
   margin-top: 6rem;
}

.section__AR_BITRE_PART{
   color: #ee626b;
   font-size: 16px;
   margin-bottom: 1.5rem;
}


.trend_TOPS_SECT .section__borotittle{
   font-size: 38px;
}

.trend_TOPS_SECT{
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}


.GAME__link{
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 8rem;
   width: 100%;
   text-decoration: none;
   color: #fff;
   background-color: #ee626b;
   padding: 1rem;
   border-radius: 2rem;
   font-weight: bold;
   transition: .6s;
}

.trendgame__link:hover{
   background-color: #0171f9;
}

.trendgames{
   margin-top: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.trendgame__items{
   border-radius: 2rem;
   background-color: #eeeeee;
   width: calc(25% - 12px);
   position: relative;
   overflow-x: auto;
}

.trendgame__items .priceeee{
   background-color: #0071f8;
   width: 55px;
   padding: 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 1.5;
   border-radius: 1rem;
   position: absolute;
   top: 15px;
   right: 15px;
}

.trendgame__items .price span {
   color: #fff;
   font-weight: bold;
}

.trendgame__items img{
   width: 100%;
   border-radius:2rem ;
}

.trendgame__content{
   padding: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: end;
}

.trendgame__content h3 span {
   font-size: 16px;
   color: #7a7a7a;
   font-weight: normal;
}

.trendgame__content h3 {
   line-height: 1.5;
   font-size: 18px;
   transition: all .6s;
}

.shopp__icon{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   width: 40px;
   height: 40px;
   background-color: #ee626b;
   border-radius: 50%;
   transition: all .6s;
   color: #000203;
}

.trendgame__items:hover .trendgame__content h3{
   color: #0071f8;
}

.trendgame__items:hover .shopp__icon {
   background-color: #0071f8;
   color: #fff;
}

